<$ for (let job of jobs) { $>
<a target="_blank" href="/careers/jobs/<$=job.link$>" class="job-card">

    <div class="card-back">

    </div>

    <div class="card-header">
        <h3 class="job-title"><$=job.title$></h3>
        <span class="background-text"><$=job.backgroundText$></span>
    </div>

    <div class="card-body">
        <$ for (let tech of job.shortTechList) { $>
        <span class="job-tech-tag"><$=tech$></span>
        <$ } $>
    </div>

    <div class="card-footer">
        <i class="erb-icon-pin-office"></i><$=job.location$>
    </div>

    <$ if (job.hot) { $>
        <div class="hot"></div>
    <$ } $>
</a>
<$ } $>